
.dictionary-unit {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 150px;
  height: 40vh;
  margin-bottom: 20px;
  background: #fff;
  border-radius: 9px;
  transition: all .3s;
}

.dictionary-unit:hover {
  transform: scale(1.1);
}

.dictionary-unit__image {
  max-width: 150px;
  margin: 0;
  border-radius: 9px 9px 0 0;
}

.dictionary-unit__contain {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

.dictionary-unit__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: lightcoral;
  font-size: 20px;
}
