.advantages__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about-us {
  padding: 60px 0;
}

.about-us__content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
