.game-settings {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
}

.game-settings__button {
  opacity: 0.5;
  top: 0;
  right: 0;
  transition: all .3s;
}

.game-settings__button:hover {
  opacity: 1;
}

.game-settings__icon {
  width: 24px;
  height: 24px;
}