.games {
  display: flex;
  flex-wrap: wrap;
  padding: 60px 0;
  justify-content: center;
}

.games-card {
  margin: 0 20px;
  background-color: rgb(240, 240, 240);
}

.games-card .card {
  min-height: 200px;
}
