.dictionary-card {
  width: 100vw;
  padding: 5px 20px;
  display: flex;
  border-bottom: 1px solid lightgray;
  border-top: 1px solid lightgray;
}

.dictionary-card__image {
     object-fit: scale-down;
     width: 30%;
     padding: 5px;
}

.dictionary-card__contain {
  font-size: 20px;
  margin-left: 30px;
}

.item_thin {
  font-size: 16px;
  font-weight: 200;
  padding-bottom: 10px;
}

.main-item_thin {
  font-size: 20px;
  font-weight: 400;
}

.dictionary-card__main-text {
  font-size: 24px;
  padding-bottom: 15px;
}

.dictionary-card__text {
  font-weight: 300;
  padding-bottom: 10px;
}

.audio-button {
  cursor: pointer;
}


