@font-face {
  font-family: 'Poppins'; /* Имя шрифта */
  src: url('/fonts/Poppins-Regular.ttf'); /* Путь к файлу со шрифтом */
}

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500;600;700&family=Rubik:wght@300;400;500&display=swap');

:root {
  font-size: 14px;
  --lightgrey: #f2f2f2;
  --grey: #808080;
  --black: #2f2f2f;
  --orange: #ee974e;
  --aquagreen: #50ba9e;
}

#root {
  background-color: var(--lightgrey);
}

body {
  font-family: 'Rubik', sans-serif;
  background-color: var(--lightgrey);
  color: var(--black);
}

a {
  color: var(--black);
  text-decoration: none;
}

a:hover {
  color: var(--black);
}

ul {
  text-decoration: none;
  list-style-type: none;
}

.main {
  min-height: 87.5vh;
}

.container {
  max-width: 1200px;
  padding: 0 40px;
  width: 100%;
  margin: 0 auto;
}

.section {
  padding: 60px 0;
}

.title_section {
  font-size: 46px;
  font-family: 'Nunito', sans-serif;
  font-weight: 800;
  text-align: center;
  color: var(--aquagreen);
  margin-bottom: 30px;
}

.input {
  height: 4.8rem;
  width: 32rem;
  padding-left: 1rem;
  margin-right: 3rem;
  border-radius: 5px;
  border: none;
  color: #72848d;
  background: pink;
}

.button {
  min-width: 115px;
  padding: 10px 30px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  letter-spacing: .9px;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  color: var(--black);
  background-color: var(--grey);
  transition: all .3s;
  /*&:hover {
    background-color: $hover-color;
  }
  &:active {
    background-color: $active-color;
  }
  &:focus {
    outline: none;
}*/
}

.card-image {
  max-width: 150px;
  width: 100%;
  margin: 0 auto;
}

.card {
  width: 250px;
  min-height: 350px;
  padding: 10px;
  margin: 10px 5px;
  border-radius: 9px;
  cursor: pointer;
  transition: all .3s;
}

.card:hover {
  transform: scale(1.1);
}

.card-contain {
  display: flex;
  justify-content: space-between;
  padding: 20px 10px 0;
}

.card-contain__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-contain__text_title {
  font-size: 24px;
  font-weight: 500;
  text-transform: capitalize;
  margin-bottom: 10px;
}

.card-contain__description {
  margin: 0;
}

/* PopUp Menu */

.pop-up-menu {
  position: fixed;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 250px;
  z-index: 20;
  background-color: var(--aquagreen);
}

.pop-up-menu__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 4rem;
  width: 100%;
}

.pop-up-menu__item {
  padding: 10px 40px;
}

.transition {
  transform: translate(20rem);
  transition: transform 1s ease-in-out;
}

.transition-back {
  transform: translate(-20rem);
  transition: transform 1s ease-in-out;
}

.menu-pop-up-menu__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2rem 2rem 1rem 1rem;
  cursor: pointer;
}

.menu__item {
  display: flex;
  align-items: self-start;
  justify-content: center;
}
.menu__item:hover {
  scale: 1.2;
}

.menu__item__img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.menu__name {
  font-size: 16px;
  font-weight: 200;
  text-decoration: none;
  opacity: .8;
  transition: all .3s;
}

.menu__name:hover {
  opacity: 1;
}

.selected {
  border-bottom: 1px solid var(--lightgrey);
}

/* .selected::before {
  content: "♥ ";
} */

.pop-up-menu__close-icon {
  position: absolute;
  top: 30px;
  right: 20px;
  cursor: pointer;
}

.pop-up-menu__close-icon svg {
  pointer-events: none;
}

.pop-up-menu__close-icon:hover {
  transform: scale(1.1);
}
