.about-us__card {
  max-width: 300px;
  width: 100%;
  padding: 15px 10px;
}

.about-us__card__title {
  display: flex;
  margin-bottom: 10px;
}

.about-us__card__img {
  width: 90px;
  height: 90px;
  margin-right: 20px;
  /* border-radius: 50%; */
}

.about-us__card__name {
  margin: 7px 0 5px;
  font-size: 24px;
  font-weight: 500;
}

.about-us__card__role {
  margin: 7px 0 5px;
  font-size: 16px;
  font-weight: 500;
}

.about-us__card__text {
  font-size: 14px;
}